:root {
  --Text-Gray-900: #18191f;
  --Text-Gray-300: #d9dbe1;
  --Brand-Primary: #4caf4f;
  --Default-White: #fff;
  --Neutral-D_Grey: #4d4d4d;
  --Neutral-Grey: #717171;
  --Neutral-L_Grey: #89939e;
  --Neutral-Silver: #f5f7fa;
  --Neutral-Black: #263238;
  --Shade-S2: #388e3b;
  --font-family: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  background-color: var(--Default-White);
  color: var(--text-color);
}

/* Container */
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 144px;
}

/* Navbar */
.navbar {
  background-color: var(--Neutral-Silver);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.container-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 144px;
}

.navbar .logo {
  display: flex;
}

.navbar .logo img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.navbar .nav-links {
  list-style: none;
  display: flex;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  gap: 20px;
  padding: 0;
  margin: 0;
}

.navbar .nav-links a {
  color: var(--Text-Gray-900);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar .nav-links a:hover {
  color: var(--Brand-Primary);
}
.menu-toggle {
  display: none;
  cursor: pointer;
}

.menu-toggle .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: var(--Text-Gray-900);
  transition: all 0.3s ease-in-out;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}
.navbar .auth-buttons {
  display: flex;
  gap: 10px;
}

.navbar button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.login-btn {
  background-color: var(--Neutral-Silver);
  color: var(--Brand-Primary);
}

.login-btn:hover {
  border-radius: 4px;
  border: 1px solid var(--Brand-Primary);
  background: var(--Neutral-Silver);
  color: var(--Brand-Primary);
  padding: 9px 19px;
  font-weight: 400;
}
.login-btn:active {
  background-color: var(--Brand-Primary);
  color: var(--Default-White);
}

.signup-btn {
  border-radius: 6px;
  background: var(--Brand-Primary);
  color: var(--Default-White);
  text-align: center;
  font-feature-settings: "salt" on, "liga" off, "clig" off;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.signup-btn:hover {
  border-radius: 4px;
  border: 2px solid var(--Neutral-D_Grey);
  background: var(--Brand-Primary);
  padding: 8px 18px;
}
.signup-btn:active {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background: var(--Shade-S2, #388e3b);
}

/* hero section */
.hero {
  background: var(--Neutral-Silver);
}

.hero-container {
  padding: 95px 144px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-text {
  max-width: 657px;
  width: 100%;
}

.hero-text h1 {
  color: var(--Neutral-D_Grey);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 64px;
  font-weight: 600;
  line-height: 76px;
}

.hero-text h1 span {
  color: var(--Brand-Primary);
}

.hero-text p {
  color: var(--Neutral-Grey);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 8px;
}

.hero-text .cta-btn {
  margin-top: 32px;
}

.cta-btn {
  padding: 15px 30px;
  font-size: 1.2rem;
  background-color: var(--primary-color);
  color: var(--Default-White);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.cta-btn:hover {
  background-color: var(--primary-hover);
}

.hero-image img {
  width: 100%;
  max-width: 391px;
  height: auto;
}

/* clients section */
.clients {
  text-align: center;
  background-color: var(--Default-White);
}

.clients h2 {
  color: var(--Neutral-D_Grey);
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  margin: 0;
}

.clients p {
  color: var(--Neutral-Grey);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.client-logos {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
  align-items: center;
  height: 98px;
}

.client-logos img {
  max-width: 150px;
  height: auto;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.client-logos img:hover {
  opacity: 1;
}

/* manage-community section */
.manage-community {
  background-color: var(--Default-White);
  text-align: center;
}

.containter-manage-community {
  padding-top: 0;
}

.manage-community h2 {
  margin: 0 auto;
  color: var(--Neutral-D_Grey);
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  max-width: 542px;
}

.manage-community p {
  color: var(--Neutral-Grey);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.community-cards {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 30px;
}

.card {
  border-radius: 8px;
  background: var(--Default-White);
  box-shadow: 0px 2px 4px 0px rgba(171, 190, 209, 0.2);
  display: flex;
  width: 299px;
  padding: 24px 32px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

.card h3 {
  color: var(--Neutral-D_Grey);
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}

.card p {
  color: var(--Neutral-Grey);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
/* unseen-experiance */
.unseen-experiance {
  background-color: var(--Default-White);
}
.unseen-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.unseen-image img {
  max-width: 441px;
  width: 100%;
  height: auto;
}

.unseen-content {
  max-width: 661px;
  width: 100%;
}
.unseen-content h2 {
  color: var(--Neutral-D_Grey);
  max-width: 580px;
  width: 100%;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  margin-bottom: 16px;
}
.unseen-content p {
  color: var(--Neutral-Grey);
  max-width: 601px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.unseen-content .cta-btn {
  margin-top: 32px;
}

/* helping-local section */
.helping-local {
  background-color: var(--Neutral-Silver);
  text-align: center;
}
.helping-content h2 {
  color: var(--Neutral-D_Grey);
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
}
.helping-content h2 span {
  color: var(--Brand-Primary);
}
.helping-content p {
  color: var(--Text-Gray-900);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.stats {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 30px 0;
  gap: 20px;
}
.stat {
  background-color: var(--Default-White);
  padding: 20px;
  border-radius: 10px;
  width: 20%;
  min-width: 150px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s;
}
.stat:hover {
  transform: translateY(-10px);
}
.stat h3 {
  color: var(--Neutral-D_Grey);
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
}
.stat p {
  color: var(--Neutral-Grey);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

/* design-footer section */
.design-footer {
  background-color: var(--Default-White);
}
.design-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.design-image img {
  max-width: 450px;
  width: 100%;
  height: auto;
}
.design-content {
  max-width: 601px;
  width: 100%;
}
.design-content h2 {
  color: var(--Neutral-D_Grey);
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  margin-bottom: 16px;
}
.design-content p {
  color: var(--Neutral-Grey);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 32px;
}

.cta-btn-more {
  background-color: var(--Brand-Primary);
}

.cta-btn-more:hover {
  background-color: var(--Shade-S2);
}

/* testimonial section */
.testimonial {
  background-color: var(--Neutral-Silver);
  text-align: center;
}

.testimonial-container {
  padding: 30px 144px;
}

.testimonial-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.testimonial-image img {
  max-width: 326px;
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.testimonial-text {
  text-align: start;
  max-width: 748px;
  width: 100%;
}

.testimonial-text p {
  color: var(--Neutral-Grey);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 16px;
}

.testimonial-text h3 {
  color: var(--Brand-Primary);
  font-size: 20px;
  font-weight: 600;
}

.testimonial-text p:last-of-type {
  color: var(--Neutral-L_Grey);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.testimonial-text .client-logos {
  height: auto;
}

.show-all-btn {
  background-color: var(--Neutral-Silver);
  color: var(--Brand-Primary);
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}
.show-all-btn:hover {
  border-radius: 4px;
  border: 1px solid var(--Brand-Primary);
  background: var(--Neutral-Silver);
  color: var(--Brand-Primary);
  padding: 9px 19px;
}
.show-all-btn:active {
  background-color: var(--Brand-Primary);
  color: var(--Default-White);
}
.show-all-btn:active svg path {
  stroke: var(--Default-White);
}

/* caring-marketing section */
.caring-marketing {
  background-color: #fff;
  text-align: center;
}

.caring-marketing h2 {
  margin-bottom: 8px;
  color: var(--Neutral-D_Grey);
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
}

.caring-marketing p {
  max-width: 628px;
  margin: 0 auto;
  margin-bottom: 16px;
  color: var(--Neutral-Grey);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.blog-cards {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}

.blog-cards .card {
  background-color: var(--Default-White);
  padding: 0;
  max-width: 368px;
  height: 360px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 30%;
  text-align: center;
  transition: transform 0.3s;
  box-shadow: none;
}

.blog-cards .card:hover {
  transform: translateY(-10px);
}

.blog-cards .card img {
  max-width: 368px !important;
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 20px;
}

.blog-cards .card h3 {
  color: var(--Neutral-Grey);
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}

.card-image {
  position: relative;
  width: 100%;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.card-overlay {
  position: absolute;
  bottom: -15%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 317px;
  width: 100%;
  border-radius: 8px;
  padding: 16px;
  background: var(--Neutral-Silver);
  box-shadow: 0px 8px 16px 0px rgba(171, 190, 209, 0.4);
}

.card-overlay h3 {
  margin: 0 0 10px;
  font-size: 1.2rem;
}

.read-more {
  padding: 8px 25px;
  background-color: var(--Neutral-Silver);
  color: var(--Brand-Primary);
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  border: none;
  transition: background-color 0.3s;
}

.read-more:hover {
  padding: 7px 25px;
  border-radius: 4px;
  border: 1px solid var(--Brand-Primary);
  background: var(--Neutral-Silver);
  color: var(--Brand-Primary);
}
.read-more:active {
  background-color: var(--Brand-Primary);
  color: var(--Default-White);
}

.read-more:active svg path {
  stroke: var(--Default-White);
}

/* pellentesque section */
.pellentesque {
  background-color: var(--bg-light);
  text-align: center;
}

.pellentesque h2 {
  margin: 0 auto;
  margin-bottom: 32px;
  max-width: 887px;
  width: 100%;
  font-size: 64px;
  font-weight: 600;
  line-height: 76px;
  text-align: center;
  color: var(--Neutral-Black, #263238);
}

.cta-btn-demo {
  display: flex;
  margin: 0 auto;
  padding: 14px 32px;
  gap: 8px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  background: var(--Brand-Primary, #4caf4f);
  color: var(--Neutral-White, #fff);
}

.cta-btn-demo:hover {
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: var(--Shade-S2);
}

/* footer section */
.footer {
  background: var(--Neutral-Black);
  color: #fff;
  text-align: center;
}

.container-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-between;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 40px;
}

.footer-logo-block {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer-logo-text {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: var(--Neutral-Silver, #f5f7fa);
}
.footer-social {
  display: flex;
  gap: 15px;
}

.footer-social a {
  text-decoration: none;
}

.footer-social img {
  width: 30px;
  height: 30px;
}

.footer-links {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  text-align: left;
  transition: all 0.3s;
}

.footer-column {
  width: 160px;
}

.footer-column h3 {
  color: var(--Neutral-White);
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 24px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 12px;
}

.footer-column ul li a {
  text-decoration: none;
  color: var(--Neutral-Silver);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  transition: color 0.3s;
}

.footer-column ul li a:hover {
  color: var(--Brand-Primary);
  max-width: 255px;
  width: 100%;
}

/* footer form */
.footer-column-form {
  width: 255px;
}
.footer-column-form .input-container {
  position: relative;
}

.footer-column-form input[type="email"] {
  width: 255px;
  padding: 10px 40px 10px 12px;
  border-radius: 8px;
  color: var(--Default-White);
  background: #515b60;
  border: none;
  outline: none;
}

.footer-column-form input[type="email"]::placeholder {
  color: var(--Text-Gray-300);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.send-icon {
  position: absolute;
  right: 8%;
  transform: translateY(50%);
  width: 20px;
  height: auto;
}

@media screen and (max-width: 1250px) {
  .container {
    padding: 40px 60px;
  }
  .client-logos {
    gap: 0;
  }
  .blog-cards {
    flex-wrap: nowrap;
    gap: 10px;
  }
  .blog-cards .card {
    height: 300px;
    max-width: 300px;
    width: 100%;
  }
}

@media screen and (max-width: 1100px) {
  .container {
    padding: 40px 50px;
  }
  .pellentesque h2 {
    max-width: 620px;
    font-size: 40px;
    line-height: 50px;
  }
  .community-cards {
    gap: none;
  }
  .blog-cards {
    flex-wrap: nowrap;
    gap: 0px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 40px 40px;
  }

  .blog-cards {
    gap: 15px;
    overflow: scroll;
    scrollbar-width: none;
  }
  .blog-cards .card {
    height: 300px;
    max-width: 300px;
    width: 100%;
  }
  .community-cards {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .community-cards .card {
    width: 80%;
  }

  .stat {
    min-width: 158px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 980px) {
  .nav-menu {
    width: auto;
  }
}

@media (max-width: 768px) {
  .navbar .container-navbar {
    padding: 20px;
  }

  .navbar .nav-links {
    flex-direction: column;
    width: 100%;
    gap: 10px;
    margin-top: 20px;
    align-items: center;
  }

  .navbar .auth-buttons {
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
  }
  .hero-container {
    flex-direction: column;
    text-align: center;
    padding: 40px 20px;
  }

  .hero-text h1 {
    font-size: 40px;
    line-height: 48px;
  }

  .hero-image img {
    margin-top: 20px;
    width: 80%;
  }
  .client-logos {
    justify-content: center;
    gap: 15px;
  }

  .community-cards {
    flex-direction: column;
    align-items: center;
  }

  .unseen-container {
    padding: 0 40px 20px 40px;
  }

  .unseen-content {
    width: auto;
  }

  .unseen-container,
  .design-container,
  .testimonial-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .unseen-image img,
  .design-image img,
  .testimonial-image img {
    width: 100%;
  }

  .container-footer {
    flex-direction: column-reverse;
    gap: 30px;
    align-items: center;
  }
  .footer-logo {
    gap: 20px;
    align-items: center;
  }
  .footer-social {
    justify-content: center;
  }

  .footer-column {
    display: none;
  }
  .footer-column:last-child {
    display: block;
    text-align: center;
  }
  .footer-column h3 {
    margin-bottom: 16px;
  }
  .footer-logo-text {
    flex-direction: row;
  }
}

/* Burger menu */
@media screen and (max-width: 861px) {
  .menu-toggle {
    display: block;
  }

  .nav-menu {
    position: absolute;
    top: 80px;
    left: -100%;
    flex-direction: column;
    background-color: var(--Neutral-Silver);
    width: 100%;
    height: calc(100vh - 80px);
    text-align: center;
    transition: left 0.3s ease-in-out;
    padding-top: 20px;
    z-index: 999;
  }

  .nav-menu.active {
    left: 0;
    justify-content: space-around;
  }

  .navbar .nav-links {
    flex-direction: column;
    gap: 25px;
    margin-bottom: 20px;
  }

  .auth-buttons {
    flex-direction: column;
    gap: 10px;
    width: 60%;
  }

  .menu-toggle.active .bar:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .menu-toggle.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
